{% extends "base.html" %} {% block title %} Home{% endblock %} {% block stylesheet %}
<link href="/static/css/index.css" rel="stylesheet" type="text/css" /> {% endblock %} {% block body %}
<div class="page-hero-section wf-section">
    <div class="hero-info-wrap">
        <br><br><br><br><br><br><br><br><br>
        <h1 class="large-page-heading outline">CRYPT-TO-CLIQ</h1>
       <center> <h3>RULES AND REGULATIONS</h3></center><br>
        <P class="rules">
            <b>1. All the participants have to fill the form before attempting the hunt</b><br>
            <br>
            2. The answer should be typed in <b>lower case without any space</b>.<br>
            <br>
           3. No special characters allowed.<br>
            <br>
        4.    If you think the answer contains any number, write it as a word. for e.g. - answer is 3-idiots, you have to enter it as threeidiots.<br>
            <br>
            
          5.  Once you solve the question correctly, the answer  you get is the theme for its photography. its not mere clicking of photo, you have to be creative ! 
            lights, camera, action and go !  <br>
            ​
            <br>
          6.  Riddles/questions will be displayed on the website, which will point towards some object. once you enter the correct answer you'll have to upload an originally clicked photograph of the product on the website itself. <br>
            <br>
            for e.g.- "what can be used only after it's cracked?" the answer would be an egg. so you have to click a picture of an egg and upload it.<br>
            <br>
            ​
            
            ​
            
          7.  There will be <b>15 rounds</b>, and the hunt will last about <b>2.5 to 3 hours on 6th february from 11:00 a.m. onwards</b>.<br>
            <br>
            ​
            
         8.   Teams will be judged on the basis of the <b>number of questions</b> solved as well as their <b>photography skills</b>.<br>
            <br>
            ​
            
            <b>9. Remember clicking a good photograph is equally important as solving the question because the photographs also contain points.<br>
                <br>
            ​
            
           10. If any team is caught uploading photos from the web they'll be disqualified. </b><br>
            <br>
            ​
            
         11.   It is mandatory for the participants to join the discord server</p><br>
        {%if not login%}
    </div>

    <a href="{{url}}" class="button w-button spbutton">LOGIN WITH DISCORD</a> {%endif%} {%if login%}
</div><a href="/play" class="button w-button spbutton">PLAY NOW</a> {%endif%}<br><br><br><br><br><br><br><br>
</div>
</div>

{% endblock %}